@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Bungee+Hairline&display=swap');

body {
display: flex;
flex-direction: column;
align-items: center;
font-family: 'Bungee Hairline', cursive;
background-color: #f0d1d1;
}

.container {
  border: black, solid, 2px;
}

li {
  list-style: none;
}

button {
  margin: 15px;
}

img {
  margin: 15px;
  
}

.teams {
  display: flex;
}

.team {
  padding: 40px;
}
