body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

button {
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  
}
